@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.margin-top {
  margin-top: 70px;
}

.container {
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font: bold 32px/38px 'PT Serif', serif;
}

.header-item {
  padding-right: 10px;
}

.header-item h1 {
  font: bold 64px/40px 'PT Serif', serif;
  color: #4157dc;
}

.header-item img {
  margin-top: 5px;
}

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro p {
  font: 400 16px/25px 'Lato', sans-serif;
}

.intro a {
  color: #4157dc;
}

.intro a:hover {
  color: red;
}

.intro-item-1 {
  width: 480px;
  margin-right: 12.55555%;
}

.intro-item-1 p.last {
  margin-bottom: 0px;
}

.intro-item-2 {
  width: 340px;
}

.intro-item-2 img.school {
  width: 100%;
}

.intro-item-2 p.school {
  margin-top: 0px;
  padding-top: 5px;
}

.ussr {
  margin-left: -30px;
}

.valter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.valter p {
  margin-top: 0px;
  font: 22px/36px 'PT Serif', serif;
}

.valter-1 {
  width: 210px;
  margin-right: 30px;
}

.valter-1 p {
  font: 400 16px/25px 'Lato', sans-serif;
  margin: 0;
}

.people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.people h1 {
  margin-bottom: 30px;
  width: 100%;
}

.people-1 {
  width: 480px;
  margin-right: 12.55555%;
}

.people-1 ul {
  margin-left: -20px;
}

.people-1 ul li {
  margin-left: -20px;
}

.people-1 ul li:before {
  content: "—";
  position: absolute;
  margin-left: -20px;
}

.people-2 {
  width: 340px;
}

.people-2 ul {
  margin-left: -20px;
}

.people-2 ul li {
  margin-left: -20px;
  list-style: decimal;
}

.people-2 ul li:before {
  position: absolute;
  margin-left: -20px;
}

.objects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
}

.objects-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.objects-row h4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.objects-row p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font: 400 16px/25px 'Lato', sans-serif;
}

.objects-row span {
  font-weight: 400;
}

.title {
  font: 400 16px/25px 'Lato', sans-serif;
}

.name {
  font: 700 16px/25px 'Lato', sans-serif;
}

/*# sourceMappingURL=style.css.map */
