*, :before, :after
	box-sizing: border-box
a
	text-decoration: none
ul
	list-style: none
body
	margin: 0
	padding: 0
	font-family: 'Lato', sans-serif

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext')

.margin-top
	margin-top: 70px

.container
	width: 96%
	max-width: 900px
	margin: 0 auto

header
	display: flex
	flex-direction: row
	align-items: center

h1
	font: bold 32px/38px 'PT Serif', serif

.header-item
	padding-right: 10px
	h1
		font: bold 64px/40px 'PT Serif', serif
		color: #4157dc
	img
		margin-top: 5px


.intro
	display: flex
	flex-direction: row
	align-items: flex-start
	p
		font: 400 16px/25px 'Lato', sans-serif
	a
		color: #4157dc
		&:hover
			color: red

.intro-item-1
	width: 480px
	margin-right: 12.55555%
	p.last
		margin-bottom: 0px



.intro-item-2
	width: 340px
	img.school
		width: 100%
	p.school
		margin-top: 0px
		padding-top: 5px
.ussr
	margin-left: -30px

.valter
	display: flex
	p
		margin-top: 0px
		font: 22px/36px 'PT Serif', serif

.valter-1
	width: 210px
	margin-right: 30px
	p
		font: 400 16px/25px 'Lato', sans-serif
		margin: 0

.people
	display: flex
	h1
		margin-bottom: 30px
		width: 100%


.people-1
	width: 480px
	margin-right: 12.55555%
	ul
		margin-left: -20px
		li
			margin-left: -20px
		li:before
			content: "—"
			position: absolute
			margin-left: -20px

.people-2
	width: 340px
	ul
		margin-left: -20px
		li
			margin-left: -20px
			list-style: decimal
		li:before
			position: absolute
			margin-left: -20px


.objects
	display: flex
	flex-direction: column
	margin-bottom: 150px

.objects-row
	display: flex
	align-items: flex-start
	margin-bottom: 30px
	h4
		flex: 1
	p
		flex: 1
		font: 400 16px/25px 'Lato', sans-serif
	span
		font-weight: 400

.title
	font: 400 16px/25px 'Lato', sans-serif
.name
	font: 700 16px/25px 'Lato', sans-serif




